<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Virtuba password reset</title>
</head>

<body>
	<table style="padding: 15px 0 0 15px; display: block;">
		<tr>
			<td style="padding: 0px 0; width: 100%; background: #53BDD7;">
				<a href="http://localhost:3000/" target="_blank" style="color: inherit">
					<img style="display: block; padding: 10px 0px 10px 10px; width: 250px;" src="https://static.wixstatic.com/media/91500f_e47822d4450f47148a99df3cc1178664~mv2.png/v1/fill/w_292,h_63,al_c,usm_0.66_1.00_0.01/91500f_e47822d4450f47148a99df3cc1178664~mv2.png" />
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<h2>Dear {{name}},</h2>
			</td>
		</tr>

		<tr>
			<td style="font-size: 14px; color: inherit;">
				<p style="font-size: 15px;color: #4f4f4f;line-height: 26px;">Click the link bellow to reset your password:
					<br />
					<b style="font-size: 18px;letter-spacing: -0.5px;color: #4f4f4f;">
						<a href="{{recover_url}}">{{recover_url}}</a>
					</b>
					<br/> If clicking the link doens't work you can just copy the link and paste it your browser address bar.
				</p>
				<br />
				<br /> The link expires in 24 hours or after the first use.</td>
		</tr>
		<hr />
		<br />
		<tr>
			<td style="font-size: 14px; color: inherit;">
				We are sending you this email because you requested a password reset. If you authorized this change, no further action is necessary.
				<b>If you did not authorize this change then please change your Alexandria password and consider changing your email password as well to ensure your account security.</b>
				The token expires in 24 hours or after the first use.
			</td>
		</tr>
		<br />
		<br />
		<tr>
			<td style="font-size: 11px; font-family: Arial, Tahoma, Verdana;line-height: 20px; background: #53BDD7;padding: 5px 10px;color: #222222;">This email was sent to you by &copy;Virtuba. If you received this email by mistake delete it at once.</td>
		</tr>
	</table>
</body>

</html>