<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Virtuba - Registration</title>
</head>

<body>
	<table style="padding: 15px 0 0 15px; display: block;">
		<tr>
			<td style="padding: 0px 0; width: 100%; background: #53BDD7;">
				<a href="http://localhost/#" target="_blank" style="color: inherit">
					<img style="display: block; padding: 10px 0px 10px 10px; width: 250px;" src="https://static.wixstatic.com/media/91500f_e47822d4450f47148a99df3cc1178664~mv2.png/v1/fill/w_292,h_63,al_c,usm_0.66_1.00_0.01/91500f_e47822d4450f47148a99df3cc1178664~mv2.png" />
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<h1 style="font-size: 22px; font-family: Arial, Tahoma, Verdana;">Hello {{name}},</h1></td>
		</tr>
		<tr>
			<td>
				<h2 style="font-size: 18px; font-family: Arial, Tahoma, Verdana;">Welcome to <a href="http://localhost" target="_blank" style="color: inherit">Virtuba!</a></h2></td>
		</tr>
		<tr>
			<td style="font-size: 15px; font-family: Arial, Tahoma, Verdana;line-height: 20px;">
				<p>This is activate link : <strong><a href="{{token_url}}">{{token_url}}</a></strong></p>
			</td>
		</tr>

		<!--  footer  -->
		<tr>
			<td style="font-size: 11px; font-family: Arial, Tahoma, Verdana;line-height: 20px; background: #53BDD7;padding: 5px 10px;color: #222222;">This email was sent to you by &copy;Virtuba. If you received this email by mistake delete it at once.</td>
		</tr>
	</table>

</body>

</html>