<form action="/change_password/{{token}}" method="post">
	<div>
	<label>Password:</label>
	<input type="password" name="password"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<p>Back to <a href="/">Home</a>.</p>
